<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Microservice Client</title>
    <link th:rel="stylesheet"
          th:href="@{/css/bootstrap.min.css} "/>
</head>
<body>
<script>
    window.onload = init;

    function init() {
        let cartId = sessionStorage.getItem('cartId');
        let navCart = document.getElementById('cartNav');
        let cartLink = '/cart/' + cartId  ;
        navCart.setAttribute('href',cartLink);
    }
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <!-- href défini dynamiquement en JavaScript-->
                <a class="nav-link" id="cartNav">Panier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/orders">Toutes les commandes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Microservice Client eCommerce</h1>
    <div class="row">
        <div th:each="product : ${products}" class="col-md-4 my-1">
            <a th:href="@{|/product-detail/${product.id}|}" >
                <img th:src="${product.illustration}" style="height: 250px; width: auto;" class="card-img-top" />
                <p th:text= "${product.name}"></p>
            </a>
        </div>
    </div>
</div>
</body>
</html>