<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:rel="stylesheet"
          th:href="@{/css/bootstrap.min.css} "/>
    <title>Product detail</title>
</head>
<body>
<script th:inline="javascript">
    function addProductToCart(productId) {
        let cartId = sessionStorage.getItem('cartId');
        let options =  { method: "post" };
        console.log(sessionStorage, productId)
        fetch(`/cart/${cartId}/product/${productId}`, options)
            .then((response) => {
            response.json().then((data) => {
                console.log(data)
                sessionStorage.setItem('cartId', data.id);
                });
            }).catch((err) => {
                console.error(err);
                alert("Une erreur est survenue lors de l'ajout du produit au panier");
            });
    }
</script>
<div class="container">
    <h1>Description du produit</h1>

    <card>
        <card-header>
            <h2 th:text="${product.name}">name</h2>
        </card-header>

        <card-body>
            <img th:src="${product.illustration}" style="height: 450px; width: auto;" class="card-img-top" />
            <p th:text="${product.description}" class="d-flex">description</p>
            <strong th:text="${product.price}"> </strong>  <strong>€</strong>
        </card-body>
    </card>
    <br>
    <input type="button" value="Ajouter au panier" th:onclick="|javascript:addProductToCart('${product.id}')|"/>
</div>
</body>
</html>